@font-face {
    font-family: Comfortaa-Bold;
    src: url(../fonts/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: Comfortaa-Regular;
    src: url(../fonts/Comfortaa-Regular.ttf);
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  align-items: center;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

html, body {
  font-family: Comfortaa-Bold;
  font-size: 1em;
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1.1em;
}


footer{
  position: sticky;
  height: 50px;
  color: white;
  width: 100%;
  text-align: center;
  line-height: 50px;
  bottom: 0;
  right: 0;
  left: 0;
}

.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.datacontainer {
  min-height: calc(100vh - 106px);
  padding: 50px;
  color: black;
}

.logindatacontainer {
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 106px);
  /*min-height: 84%;*/
  display:flex;
  flex-direction: row;
  padding: 50px;
  max-width: 80%;
  align-items: center;

  color: black;
  align-content: center;
  align-self: center;
}

.loginForm, .loginUsername, .loginPassword, .loginSubmit{
  width: 98%;
}

input{
  width: 98%;
}

.textwhite{
  color: white;
}

.textblack{
  color: white;
}

.mainbg{
  background-color: #507cbe;
}
.table{
  text-align: center;
}

.datacontainerbtngrp {

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}

.adminuserlist .btn {
  color: #507cbe;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-style: hidden;
  font-size: 1.2em;
}
.adminuserlist .btn:hover {
  color: #507cbe;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-style: hidden;
  font-size: 1.4em;
}

.adminuserlist .btn:active {
  color: #507cbe;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-style: hidden;
  font-size: 1.2em;
}

.modal-body h5{
  text-align: center;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.add_user td {
  border-style: hidden;
}

.add_user {
  border-style: hidden;
}

.add_user th {
  border-style: hidden;
}

#rightNav {
  padding-right: 2vw;
}

.dropdown-menu-lang {
  min-width: 2vw;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {

    background-color: #FFFFFF;
    /* just in case there no content*/

    margin: 0 auto 25px;

    /* shadows and rounded borders */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.form-signin #username,
.form-signin #password {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

footer a {
  text-decoration: none;
  color: white;
}

.jobsul {
  text-decoration: underline;
  font-weight: bold;
}

.evaluationul {
  text-decoration: underline;
  font-weight: bold;
}

.tableHeader {
  text-decoration: underline;
}

.borderless td, .borderless th {
    border: none;
}

.borderless {
    border: none;
}

.btn-transparent {
  background-color: transparent;
}

.karrikatur {
  max-height: 150px;
}
